################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DocumentsWebApi/obj
/DocumentsWebApi/bin/Debug/net9.0
/DocumentsWebApi/DocumentsWebApi.csproj.user
/DocumentsWebApiTests/obj
/DocumentsWebApiTests/bin/Debug/net9.0
/DocumentsWebApi.Infrastructure/bin/Debug/net9.0
/DocumentsWebApi.Infrastructure/obj
/DocumentsWebApi.Models/bin/Debug/net9.0
/DocumentsWebApi.Models/obj
/DocumentsWebApi.PostgresqlData/bin/Debug/net9.0
/DocumentsWebApi.PostgresqlData/obj
/DocumentsWebApi.SqlServerData/bin/Debug/net9.0
/DocumentsWebApi.SqlServerData/obj
/DocumentsWebApi.Business/bin/Debug/net9.0
/DocumentsWebApi.Business/obj
/DocumentsWebApi.Dtos/bin/Debug/net9.0
/DocumentsWebApi.Dtos/obj
