################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DocumentsWebApi/obj
/DocumentsWebApi/bin/Debug/net9.0
/DocumentsWebApi/DocumentsWebApi.csproj.user
/DocumentsWebApiTests/obj
/DocumentsWebApiTests/bin/Debug/net9.0
